<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>ELM管理系统 1.3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/loader-style.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/profile.css">
    
    <script type="text/javascript" src="js/jquery.js"></script>
    
    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="img/favicon.ico">
</head>

<body>
<!-- TOP NAVBAR -->
<nav role="navigation" class="navbar navbar-static-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="entypo-menu"></span>
            </button>
            <button class="navbar-toggle toggle-menu-mobile toggle-left" type="button">
                <span class="entypo-list-add"></span>
            </button>

            <div id="logo-mobile" class="visible-xs">
                <h1>TELMLIBRE<span>v1</span></h1>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="">
                    <a data-toggle="" class="" href="message.html">
                        <i style="font-size:20px;" class="icon-conversation"></i><div class="noft-red">23</div>
                    </a>
                </li>
            </ul>

            <div id="nt-title-container" class="navbar-left running-text visible-lg">
                <ul class="date-top">
                    <li class="entypo-calendar" style="margin-right:5px"></li>
                    <li id="Date"></li>
                </ul>
                <ul id="digital-clock" class="digital">
                    <li class="entypo-clock" style="margin-right:5px"></li>
                    <li class="hour"></li>
                    <li>:</li>
                    <li class="min"></li>
                    <li>:</li>
                    <li class="sec"></li>
                    <li class="meridiem"></li>
                </ul>
                <ul id="nt-title">
                    <li><i class="wi-day-lightning"></i>&#160;&#160;Beijing&#160;
                        <b>85</b><i class="wi-fahrenheit"></i>&#160;; 15km/h
                    </li>
                    <li><i class="wi-day-lightning"></i>&#160;&#160;Shanghai&#160;
                        <b>85</b><i class="wi-fahrenheit"></i>&#160;; Tonight- 72 °F (22.2 °C)
                    </li>
                    <li><i class="wi-day-lightning"></i>&#160;&#160;Nanjing&#160;
                        <b>85</b><i class="wi-fahrenheit"></i>&#160;; 15km/h
                    </li>
                    <li><i class="wi-day-lightning"></i>&#160;&#160;Chengdu&#160;
                        <b>85</b><i class="wi-fahrenheit"></i>&#160;; 15km/h
                    </li>
                    <li><i class="wi-day-lightning"></i>&#160;&#160;Chongqi&#160;
                        <b>85</b><i class="wi-fahrenheit"></i>&#160;; 15km/h
                    </li>
                </ul>
            </div>

            <ul style="margin-right:0;" class="nav navbar-nav navbar-right">
                <li>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <img alt="" class="admin-pic img-circle" src="/img/portrait.jpg">Hi, Dave Mattew <b class="caret"></b>
                    </a>
                    <ul style="margin-top:14px;" role="menu" class="dropdown-setting dropdown-menu">
                        <li>
                            <a href="person-home.html">
                                <span class="entypo-user"></span>&#160;&#160;My Profile</a>
                        </li>
                        <li>
                            <a href="person-info.html">
                                <span class="entypo-vcard"></span>&#160;&#160;Account Setting</a>
                        </li>
                        <li>
                            <a href="history.html">
                                <span class="entypo-lifebuoy"></span>&#160;&#160;History</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a id="logout" href="#">
                                <span class="entypo-basket"></span>&#160;&#160; Logout</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="icon-gear"></span>&#160;&#160;Setting</a>
                    <ul role="menu" class="dropdown-setting dropdown-menu">

                        <li class="theme-bg">
                            <div id="button-bg"></div>
                            <div id="button-bg2"></div>
                            <div id="button-bg3"></div>
                            <div id="button-bg5"></div>
                            <div id="button-bg6"></div>
                            <div id="button-bg7"></div>
                            <div id="button-bg8"></div>
                            <div id="button-bg9"></div>
                            <div id="button-bg10"></div>
                            <div id="button-bg11"></div>
                            <div id="button-bg12"></div>
                            <div id="button-bg13"></div>
                        </li>
                    </ul>
                </li>
                <!--<li class="hidden-xs">-->
                <!--<a class="toggle-left" href="#">-->
                <!--<span style="font-size:20px;" class="entypo-list-add"></span>-->
                <!--</a>-->
                <!--</li>-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- /END OF TOP NAVBAR -->

<!-- SIDE MENU -->
<div id="skin-select">
    <div id="logo">
        <h1>TELMLIBRE<span>v1</span></h1>
    </div>
    <a id="toggle">
        <span class="entypo-menu"></span>
    </a>
    <div class="dark">
        <form action="#">
                <span>
                    <input type="text" name="search" value="" class="search rounded id_search" placeholder="Search Menu..." autofocus="">
                </span>
        </form>
    </div>
    <div class="search-hover">
        <form id="demo-2">
            <input type="search" placeholder="Search Menu..." class="id_search">
        </form>
    </div>
    <div class="skin-part">
        <div id="tree-wrap">
            <div class="side-bar">
                <ul class="topnav menu-left-nest">
                    <li><a href="#" style="border-left:0px solid!important;" class="title-menu-left">
                            <span class="person-menu"></span>
                            <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i></a></li>
                    <li><a class="tooltip-tip ajax-load" href="person-home.html" title="Home">
                            <i class="fa fa-home"></i>
                            <span>Home</span></a></li>
                    <li><a class="tooltip-tip ajax-load" href="#" title="Account">
                            <i class="icon-user"></i>
                            <span>Account</span></a>
                        <ul><li>
                                <a class="tooltip-tip2 ajax-load" href="person-info.html" title="Information"><i class="icon-document-edit"></i><span>Information</span></a></li>
                            <li>
                                <a class="tooltip-tip2 ajax-load" href="abnormal-state.html" title="Abnormal State"><i class="fa fa-exclamation-triangle"></i><span>Abnormal State</span></a></li>
                            <li>
                                <a class="tooltip-tip2 ajax-load" href="recharge.html" title="Recharge"><i class="fa fa-shopping-cart"></i><span>Recharge</span></a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="topnav menu-left-nest">
                    <li><a href="#" style="border-left:0px solid!important;" class="title-menu-left">
                            <span class="book-menu"></span>
                            <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i></a></li>
                    <li><a class="tooltip-tip ajax-load" href="search.html" title="Search Booklist">
                            <i class="fa fa-search"></i>
                            <span>Search Booklist</span></a></li>
                    <li><a id="books_switch" class="tooltip-tip ajax-load" href="#" title="My Books">
                            <i class="icon-map"></i>
                            <span>My Books</span></a>
                        <ul>
                            <li><a class="tooltip-tip2 ajax-load" href="history.html" title="History"><i class="fa fa-clock-o"></i><span>History</span></a></li>
                            <li><a class="tooltip-tip2 ajax-load" href="order.html" title="My Orders"><i class="fa fa-bookmark"></i><span>My Orders</span></a></li>
                            <li><a class="tooltip-tip2 ajax-load" href="comment.html" title="My Comments"><i class="fa fa-comment"></i><span>My Comments</span></a></li>
                        </ul>
                    </li>
                </ul>
                <div class="side-dash">
                    <h3><span>Satisfy</span></h3>
                    <ul class="side-dashh-list">
                        <li>Book Number
                            <span>14526<i style="color:#44BBC1;" class="fa fa-arrow-circle-up"></i></span></li>
                        <li>New Book
                            <span>3<i style="color:#19A1F9;" class="fa fa-arrow-circle-up"></i></span></li>
                        <li>Borrowed
                            <span>3256<i style="color:#AB6DB0;" class="fa fa-arrow-circle-down"></i></span></li>
                    </ul>
                    <h3>
                        <span>Visitors</span>
                    </h3>
                    <div id="g1" style="height:180px" class="gauge"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END OF SIDE MENU -->

<!-- PAPER WRAP -->
<div class="wrap-fluid">
    <div class="container-fluid paper-wrap bevel tlbr">
        <!-- CONTENT -->
        <!--TITLE -->
        <div class="row">
            <div id="paper-top">
                <div class="col-sm-4">
                    <h2 class="tittle-content-header">
                        <i class="icon-media-record"></i>
                        <span>Person Home Page</span></h2></div>
                <div class="col-sm-8">
                    <div class="devider-vertical visible-lg"></div>
                    <div class="tittle-middle-header">
                        <div class="alert">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <span class="tittle-alert entypo-info-circled"></span>
                            Welcome back,&nbsp;
                            <strong>Dave mattew!</strong>&nbsp;&nbsp;Your last sig in at Yesterday, 16:54 PM</div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ TITLE -->

        <!-- BREADCRUMB -->
        <ul id="breadcrumb" class="bg-opac">
            <li>
                <span class="entypo-home"></span>
            </li>
            <li><i class="fa fa-lg fa-angle-right"></i>
            </li>
            <li><a href="#">Home</a>
            </li>
            <li class="pull-right">
                <div class="input-group input-widget">
                    <input style="border-radius:15px" type="text" placeholder="Search..." class="form-control">
                </div>
            </li>
        </ul>
        <!-- END OF BREADCRUMB -->

        <div class="content-wrap">
            <!-- PROFILE -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="well profile">
                        <div class="col-sm-12">
                            <div class="col-xs-12 col-sm-6 preview">
                                <div class="col-sm-12 profile-name bg-opac-child">
                                    <h4>已借书籍<span class="satis-num">IV/XIII</span> </h4><hr>
                                    <ul class="borrow-list">
                                        <li class="list-item clearfix">
                                            <div class="pic"><img src="img/book-default.png" /></div>
                                            <div class="message">
                                                <div class="line"><strong>书名： </strong><span class="bookname">他改变了世界</span></div>
                                                <div class="line"><strong>作者： </strong><span class="author">膜法师</span></div>
                                                <div class="line"><strong>归还期限： </strong><span class="backdate">2018-4-12</span></div>
                                                <div class="line">
                                                    <div class="bg">
                                                        <div class="col"></div></div>
                                                    <div class="renew">
                                                        <img class="red" src="img/battred.png"/>
                                                        <strong>续借：</strong><span class="renew-time">3/3</span>
                                                    </div></div></div></li>
                                        <li class="list-item clearfix">
                                            <div class="pic"><img src="img/book-default.png" /></div>
                                            <div class="message">
                                                <div class="line"><strong>书名： </strong><span class="bookname">他改变了世界</span></div>
                                                <div class="line"><strong>作者： </strong><span class="author">膜法师</span></div>
                                                <div class="line"><strong>归还期限： </strong><span class="backdate">2018-4-12</span></div>
                                                <div class="line">
                                                    <div class="bg">
                                                        <div class="col"></div></div>
                                                    <div class="renew">
                                                        <img src="img/battred.png"/>
                                                        <strong>续借：</strong><span class="renew-time">3/3</span></div></div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="list-more">
                                        <a href="history.html">
                                            <img src="img/bott.png" /> 加载更多 <img src="img/bott.png" /></a>
                                    </div>
                                </div>
                                <div class="col-sm-12 profile-name bg-opac-child">
                                    <h4>预约书籍<span class="satis-num">I/XIII</span> </h4><hr>
                                    <ul class="borrow-list">
                                        <li class="list-item clearfix">
                                            <div class="pic"><img src="img/book-default.png" /></div>
                                            <div class="message">
                                                <div class="line"><strong>书名： </strong><span class="bookname">他改变了世界</span></div>
                                                <div class="line"><strong>作者： </strong><span class="author">膜法师</span></div>
                                                <div class="line"><strong>归还期限： </strong><span class="backdate">2018-4-12</span></div>
                                                <div class="line">
                                                    <div class="bg">
                                                        <div class="col"></div></div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="list-more">
                                        <a href="order.html">
                                            <img src="img/bott.png" /> 加载更多 <img src="img/bott.png" /></a>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="col-sm-1"></div>-->
                            <div class="col-xs-12 col-sm-3 text-center right-card">
                                <ul class="list-group bg-opac-child profile-card">
                                    <li class="list-group-item text-left">
                                        <span class="entypo-user"></span>&nbsp;&nbsp;Profile</li>
                                    <li class="list-group-item text-center">
                                        <img src="/img/portrait.jpg" alt="" class="img-circle img-responsive img-profile"></li>
                                    <li class="list-group-item text-right">
                                        <span class="pull-left">
                                            <strong>Nickname：</strong></span>preciousmouse</li>
                                    <li class="list-group-item text-right">
                                        <span class="pull-left">
                                            <strong>Tele：</strong></span>13651648690</li>
                                    <li class="list-group-item text-right">
                                        <span class="pull-left">
                                            <strong>E-mail：</strong></span>chenny_gu@foxmail.com</li>
                                    <li class="list-group-item text-right">
                                        <span class="pull-left">
                                            <strong>Maximum Borrow：</strong></span>4</li>
                                    <li class="list-group-item text-right">
                                        <span class="pull-left">
                                            <strong>Current Borrow：</strong></span>1</li>
                                    <li class="list-group-item text-right">
                                        <span class="pull-left">
                                            <strong>Coins：</strong></span>21</li>
                                </ul>
                                <ul class="list-group bg-opac-child mail-card">
                                    <li class="list-group-item text-left">
                                        <span class="entypo-mail"></span>&nbsp;&nbsp;Mail</li>
                                    <li class="list-group-item text-right"  href="message.html">
                                        <a href="message.html">
                                            <span class="pull-left"><strong>一本已借出的书即将到期！</strong></span>
                                            2018-4-12&nbsp;&nbsp;23:19</a></li>
                                    <li class="list-group-item text-right"  href="message.html">
                                        <a href="message.html">
                                            <span class="pull-left"><strong>一本已借出的书即将到期！</strong></span>
                                            2018-4-12&nbsp;&nbsp;23:19</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- END OF PROFILE -->

            <!-- /END OF CONTENT -->

            <!-- FOOTER -->
            <div class="footer-space"></div>
            <div id="footer">
                <div class="devider-footer-left"></div>
                <div class="time">
                    <p id="spanDate">
                    <p id="clock">
                </div>
                <div class="copyright">Make with Love
                    <span class="entypo-heart"></span>Collect from
                </div>
                <div class="devider-footer"></div>
            </div>
            <!-- / END OF FOOTER -->
        </div>
    </div>
    <!--  END OF PAPER WRAP -->
</div>
<div style="text-align:center;">
    <p>All Right Reserved</p>
</div>
</body>

<!-- MAIN EFFECT -->
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/load.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<script type="text/javascript" src="js/loadnav.js"></script>
<script type="text/javascript">
	function getperc(ele){
		var t = ele.borrowtime;
		var borrowtime = new Date(yyyy,mth,dd,hh,mm,ss);
	}
	
	romadigit = ["","I","II","III","IV","V","VI","VII","VIII","VIV","X"];
	function loadborrowlist(ul,list,user){
		//change title
		var title = $(ul).parent().children("h4").children(".satis-num");
		var borrownumber = parseInt(user.borrownumber);
		var maxborrownumber = parseInt(user.usergroup.maxborrownumber);
		title.html("");
		while(borrownumber>10){
			title.html(title.html()+"X");
			borrownumber -= 10;}
		title.html(title.html()+romadigit[parseInt(borrownumber)]+" / ");
		while(maxborrownumber>10){
			title.html(title.html()+"X");
			maxborrownumber -= 10;}
		title.html(title.html()+romadigit[parseInt(maxborrownumber)]);
		
		//change li
		ul.html("");
		for(var i=0;i<list.length;i++){
			var ele = list[i];
			var li = "<li class='list-item clearfix'> <div class='pic'><img src='"+ele.book.coversrc+"' /></div> <div class='message'> <div class='line'><strong>书名： </strong><span class='bookname'>"+ele.book.bookname+"</span></div> <div class='line'><strong>作者： </strong><span class='author'>"+ele.book.author+"</span></div> <div class='line'><strong>归还期限： </strong><span class='backdate'>"+ele.backtime+"</span></div> <div class='line'> <div class='bg'> <div class='col'></div></div> <div class='renew'> <img class='red' src='img/battred.png'/> <strong>续借：</strong><span class='renew-time'>"+ (3-parseInt(ele.renewtimes)).toString() +"/3</span> </div></div></div></li>";
			ul.html(ul.html()+li);

			var perc = getperc(ele);
			$(ul).children(":last-child").children(".message").children(".line:last-child").children(".bg").children(".col").width("30%");
		}

	
	}
	function loadorderlist(ul,list,user){
	
	}
	
    $(function() {
	    $.ajax({
		    url: 'http://127.0.0.1:8080/home',
		    dataType: 'JSON',
		    type: 'POST',
		    data:{},
		    success: function (data) {
			    console.log(data);
			    data = {
				    nav: {
					    menu: ["<li><a href='#' style='border-left:0px solid!important;' class='title-menu-left'><span class='person-menu'></span><i data-toggle='tooltip' class='entypo-cog pull-right config-wrap'></i></a></li><li><a class='tooltip-tip ajax-load' href='person-home.html' title='Home'><i class='fa fa-home'></i><span>Home</span></a></li><li><a class='tooltip-tip ajax-load' href='#' title='Account'><i class='icon-user'></i><span>Account</span></a><ul><li><a class='tooltip-tip2 ajax-load' href='person-info.html' title='Information'><i class='icon-document-edit'></i><span>Information</span></a></li><li><a class='tooltip-tip2 ajax-load' href='abnormal-state.html' title='Abnormal State'><i class='fa fa-exclamation-triangle'></i><span>Abnormal State</span></a></li><li><a class='tooltip-tip2 ajax-load' href='recharge.html' title='Recharge'><i class='fa fa-shopping-cart'></i><span>Recharge</span></a></li></ul> </li>",
						    "<li><a href='#' style='border-left:0px solid!important;' class='title-menu-left'> <span class='book-menu'></span> <i data-toggle='tooltip' class='entypo-cog pull-right config-wrap'></i></a></li> <li><a class='tooltip-tip ajax-load' href='search.html' title='Search Booklist'> <i class='fa fa-search'></i> <span>Search Booklist</span></a></li> <li><a id='books_switch' class='tooltip-tip ajax-load' href='#' title='My Books'> <i class='icon-map'></i> <span>My Books</span></a> <ul><li><a class='tooltip-tip2 ajax-load' href='history.html' title='History'><i class='fa fa-clock-o'></i><span>History</span></a></li><li><a class='tooltip-tip2 ajax-load' href='order.html' title='My Orders'><i class='fa fa-bookmark'></i><span>My Orders</span></a></li><li><a class='tooltip-tip2 ajax-load' href='comment.html' title='My Comments'><i class='fa fa-comment'></i><span>My Comments</span></a></li></ul></li>"
					    ],
					    booknumber: 10086,
					    newbook: 5,
					    borrowed: 2345,
					    visitors: 210},
				    borrowlist: [{// 只需前两项
					    book: {
						    bookid: "0100250",
						    bookname: "小缘看世界",
						    author: "大毛",
						    coversrc: "img/book-default.png"},
					    borrowtime: "2018-4-13 00:00",
					    backtime: "2018-4-16 00:00",
					    renewtimes: "0",
					    status: "已借阅" // "已还书" 、"已超时"
				    }],
				    orderlist: [{
					    bookname: "小缘看世界",
					    author: "大毛",
					    ordertime: "2018-4-13 00:00",
					    takebooktime: "2018-4-16 00:00"
				    }],
				    user: {
					    uid : "151310216",
					    username: "preciousmouse",
					    headsrc: "/img/portrait.jpg",
					    coins: "21",
					    borrownumber: "2",
					    usergroup: {
						    grouplevel: "1",
						    groupname: "咸鱼",
						    maxborrownumber: "11"
					    }},
				    messagelist: [{
					    title: "《FGO》1.5部「断章：残存诗篇」正式开幕！",
					    time: "2018-4-9  11:56",
					    content: "B站清晰度升级全面公测了。升级后，UP主视频压制后720P清晰度码率最高2000k；1080P清晰度码率最高3000k；1080P+清晰度码率最高6000k；新增720P60清晰度码率最高3000k，帧率60；新增1080P60清晰度码率最高6000k ，帧率60；1080P+、720P60、1080P60最高音频码率提升至320k。未达二压线，原清晰度输出策略不变。",
					    readflag: "false"
				    }]
			    };

			    loadnav(data.nav);
			    loadborrowlist($(".borrow-list").eq(0),data.borrowlist,data.user);
			    loadorderlist($(".borrow-list").eq(1),data.orderlist,data.user);
		    },
		    error: function () {
			    console.log('error');
		    }
	    });
    });
</script>
</html>
