<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ELM管理系统 1.3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<meta name="description" content="">-->
    <!--<meta name="author" content="">-->

    <!-- Le styles -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/loader-style.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/search.css" />

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="img/favicon.ico">
</head>

<body>
    <!-- TOP NAVBAR -->
    <nav role="navigation" class="navbar navbar-static-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="entypo-menu"></span>
                </button>
                <button class="navbar-toggle toggle-menu-mobile toggle-left" type="button">
                    <span class="entypo-list-add"></span>
                </button>

                <div id="logo-mobile" class="visible-xs">
                   <h1>TELMLIBRE<span>v1</span></h1>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="">
                        <a data-toggle="" class="" href="message.html">
                            <i style="font-size:20px;" class="icon-conversation"></i><div class="noft-red">23</div>
                        </a>
                    </li>
                </ul>

                <div id="nt-title-container" class="navbar-left running-text visible-lg">
                    <ul class="date-top">
                        <li class="entypo-calendar" style="margin-right:5px"></li>
                        <li id="Date"></li>
                    </ul>
                    <ul id="digital-clock" class="digital">
                        <li class="entypo-clock" style="margin-right:5px"></li>
                        <li class="hour"></li>
                        <li>:</li>
                        <li class="min"></li>
                        <li>:</li>
                        <li class="sec"></li>
                        <li class="meridiem"></li>
                    </ul>
                    <ul id="nt-title">
                        <li><i class="wi-day-lightning"></i>&#160;&#160;Beijing&#160;
                            <b>85</b><i class="wi-fahrenheit"></i>&#160;; 15km/h
                        </li>
                        <li><i class="wi-day-lightning"></i>&#160;&#160;Shanghai&#160;
                            <b>85</b><i class="wi-fahrenheit"></i>&#160;; Tonight- 72 °F (22.2 °C)
                        </li>
                        <li><i class="wi-day-lightning"></i>&#160;&#160;Nanjing&#160;
                            <b>85</b><i class="wi-fahrenheit"></i>&#160;; 15km/h
                        </li>
                        <li><i class="wi-day-lightning"></i>&#160;&#160;Chengdu&#160;
                            <b>85</b><i class="wi-fahrenheit"></i>&#160;; 15km/h
                        </li>
                        <li><i class="wi-day-lightning"></i>&#160;&#160;Chongqi&#160;
                            <b>85</b><i class="wi-fahrenheit"></i>&#160;; 15km/h
                        </li>
                    </ul>
                </div>

                <ul style="margin-right:0;" class="nav navbar-nav navbar-right">
                    <li>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <img alt="" class="admin-pic img-circle" src="/img/portrait.jpg">Hi, Dave Mattew <b class="caret"></b>
                        </a>
                        <ul style="margin-top:14px;" role="menu" class="dropdown-setting dropdown-menu">
                            <li>
                                <a href="person-home.html">
                                    <span class="entypo-user"></span>&#160;&#160;My Profile</a>
                            </li>
                            <li>
                                <a href="person-info.html">
                                    <span class="entypo-vcard"></span>&#160;&#160;Account Setting</a>
                            </li>
                            <li>
                                <a href="history.html">
                                    <span class="entypo-lifebuoy"></span>&#160;&#160;History</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a id="logout" href="#">
                                    <span class="entypo-basket"></span>&#160;&#160; Logout</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="icon-gear"></span>&#160;&#160;Setting</a>
                        <ul role="menu" class="dropdown-setting dropdown-menu">

                            <li class="theme-bg">
                                <div id="button-bg"></div>
                                <div id="button-bg2"></div>
                                <div id="button-bg3"></div>
                                <div id="button-bg5"></div>
                                <div id="button-bg6"></div>
                                <div id="button-bg7"></div>
                                <div id="button-bg8"></div>
                                <div id="button-bg9"></div>
                                <div id="button-bg10"></div>
                                <div id="button-bg11"></div>
                                <div id="button-bg12"></div>
                                <div id="button-bg13"></div>
                            </li>
                        </ul>
                    </li>
                    <!--<li class="hidden-xs">-->
                        <!--<a class="toggle-left" href="#">-->
                            <!--<span style="font-size:20px;" class="entypo-list-add"></span>-->
                        <!--</a>-->
                    <!--</li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- /END OF TOP NAVBAR -->

    <!-- SIDE MENU -->
    <div id="skin-select">
        <div id="logo">
            <h1>TELMLIBRE<span>v1</span></h1>
        </div>
        <a id="toggle">
            <span class="entypo-menu"></span>
        </a>
        <div class="dark">
            <form action="#">
                <span>
                    <input type="text" name="search" value="" class="search rounded id_search" placeholder="Search Menu..." autofocus="">
                </span>
            </form>
        </div>
        <div class="search-hover">
            <form id="demo-2">
                <input type="search" placeholder="Search Menu..." class="id_search">
            </form>
        </div>
        <div class="skin-part">
            <div id="tree-wrap">
                <div class="side-bar">
                    <ul class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">
                                <span class="person-menu"></span>
                                <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" href="person-home.html" title="Home">
                                <i class="fa fa-home"></i>
                                <span>Home</span>
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" href="#" title="Account">
                                <i class="icon-user"></i>
                                <span>Account</span>
                            </a>
                            <ul>
                                <li>
                                    <a class="tooltip-tip2 ajax-load" href="person-info.html" title="Information"><i class="icon-document-edit"></i><span>Information</span></a>
                                </li>
                                <li>
                                    <a class="tooltip-tip2 ajax-load" href="abnormal-state.html" title="Abnormal State"><i class="fa fa-exclamation-triangle"></i><span>Abnormal State</span></a>
                                </li>
                                <li>
                                    <a class="tooltip-tip2 ajax-load" href="recharge.html" title="Recharge"><i class="fa fa-shopping-cart"></i><span>Recharge</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="topnav menu-left-nest">
                        <li>
                            <a href="#" style="border-left:0px solid!important;" class="title-menu-left">
                                <span class="book-menu"></span>
                                <i data-toggle="tooltip" class="entypo-cog pull-right config-wrap"></i>
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-tip ajax-load" href="search.html" title="Search Booklist">
                                <i class="fa fa-search"></i>
                                <span>Search Booklist</span>
                            </a>
                        </li>
                        <li>
                            <a id="books_switch" class="tooltip-tip ajax-load" href="#" title="My Books">
                                <i class="icon-map"></i>
                                <span>My Books</span>
                            </a>
                            <ul>
                                <li>
                                    <a class="tooltip-tip2 ajax-load" href="history.html" title="History"><i class="fa fa-clock-o"></i><span>History</span></a>
                                </li>
                                <li>
                                    <a class="tooltip-tip2 ajax-load" href="order.html" title="My Orders"><i class="fa fa-bookmark"></i><span>My Orders</span></a>
                                </li>
                                <li>
                                    <a class="tooltip-tip2 ajax-load" href="comment.html" title="My Comments"><i class="fa fa-comment"></i><span>My Comments</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="side-dash">
                        <h3>
                            <span>Satisfy</span>
                        </h3>
                        <ul class="side-dashh-list">
                            <li>Book Number
                                <span>14526<i style="color:#44BBC1;" class="fa fa-arrow-circle-up"></i>
                                </span>
                            </li>
                            <li>New Book
                                <span>3<i style="color:#19A1F9;" class="fa fa-arrow-circle-up"></i>
                                </span>
                            </li>
                            <li>Borrowed
                                <span>3256<i style="color:#AB6DB0;" class="fa fa-arrow-circle-down"></i>
                                </span>
                            </li>
                        </ul>
                        <h3>
                            <span>Visitors</span>
                        </h3>
                        <div id="g1" style="height:180px" class="gauge"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END OF SIDE MENU -->

    <!--  PAPER WRAP -->
    <div class="wrap-fluid">
		<div class="container-fluid paper-wrap bevel tlbr">
            <!-- CONTENT -->
            <!--TITLE -->
            <div class="row">
                <div id="paper-top">
                    <div class="col-lg-4">
                        <h2 class="tittle-content-header">
                            <i class="fa fa-home"></i>
                            <span>Search Book</span>
                        </h2>
                    </div>

                    <div class="col-lg-8">
                        <div class="devider-vertical visible-lg"></div>
                        <div class="tittle-middle-header">
                            <div class="alert">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <span class="tittle-alert entypo-info-circled"></span>
                                Welcome back,&nbsp;
                                <strong>Dave mattew!</strong>Your last sig in at Yesterday, 16:54 PM
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/ TITLE -->

            <!-- BREADCRUMB -->
            <ul id="breadcrumb">
                <li>
                    <span class="entypo-home"></span>
                </li>
                <li><i class="fa fa-lg fa-angle-right"></i>
                </li>
                <li><a href="person-home.html">Home</a>
                </li>
                <li><i class="fa fa-lg fa-angle-right"></i>
                </li>
                <li><a href="search.html">Search</a>
                </li>
                <li class="pull-right">
                    <div class="input-group input-widget">
                        <input style="border-radius:15px" type="text" placeholder="Search..." class="form-control">
                    </div>
                </li>
            </ul>
            <!-- END OF BREADCRUMB -->

            <!--search bar-->
            <div class="logo"></div>
            <div class="search-bar clearfix" >
                <div class="type">
                    <span class="default">综合</span>
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </div>
                <ul class="search-list">
                    <li>综合</li>
                    <li>书籍名</li>
                    <li>作者</li>
                    <li>ISBN号</li>
                </ul>
                <div>
                    <input class="content" type="text" id="search-keyword" maxlength="100" placeholder="搜索想要的内容..." />
                </div>
                <a href="javascript:void(0);" class="search-btn">搜 索</a>
            </div>
            <div class="search-suggest clearfix">
                <div class="hot-search">
                    <div class="title">
                        <i class="fa fa-fire"></i>
                        热门搜索
                    </div>
                    <ul class="hotlist">
                    <li class="item">
                        <span class="num special">1</span>
                        <span class="word">长者</span>
                    </li>
                    <li class="item">
                        <span class="num special">2</span>
                        <span class="word">长者</span>
                    </li>
                    <li class="item">
                        <span class="num special">3</span>
                        <span class="word">长者</span>
                    </li>
                    <li class="item">
                        <span class="num">4</span>
                        <span class="word">长者</span>
                    </li>
                    <li class="item">
                        <span class="num">5</span>
                        <span class="word">长者</span>
                    </li>
                    <li class="item">
                        <span class="num">6</span>
                        <span class="word">长者</span>
                    </li>
                    <li class="item">
                        <span class="num">7</span>
                        <span class="word">长者</span>
                    </li>
                    <li class="item">
                        <span class="num">8</span>
                        <span class="word">长者</span>
                    </li>
                    <li class="item">
                        <span class="num">9</span>
                        <span class="word">长者</span>
                    </li>
                    <li class="item">
                        <span class="num">10</span>
                        <span class="word">长者</span>
                    </li>
                </ul>
                    <ul class="hotlist">
                        <li class="item">
                            <span class="num">11</span>
                            <span class="word">长者</span>
                        </li>
                        <li class="item">
                            <span class="num">12</span>
                            <span class="word">长者</span>
                        </li>
                        <li class="item">
                            <span class="num">13</span>
                            <span class="word">长者</span>
                        </li>
                        <li class="item">
                            <span class="num">14</span>
                            <span class="word">长者</span>
                        </li>
                        <li class="item">
                            <span class="num">15</span>
                            <span class="word">长者</span>
                        </li>
                        <li class="item">
                            <span class="num">16</span>
                            <span class="word">长者</span>
                        </li>
                        <li class="item">
                            <span class="num">17</span>
                            <span class="word">长者</span>
                        </li>
                        <li class="item">
                            <span class="num">18</span>
                            <span class="word">长者</span>
                        </li>
                        <li class="item">
                            <span class="num">19</span>
                            <span class="word">长者</span>
                        </li>
                        <li class="item">
                            <span class="num">20</span>
                            <span class="word">长者</span>
                        </li>
                    </ul>
                </div>
                <div class="search-history">
                    <div class="title">
                        <i class="fa fa-clock-o"></i>
                        搜索历史
                        <span class="delete-history">
                            <i class="fa fa-trash-o"></i>
                            清空
                        </span>
                    </div>
                    <ul class="history-list">
                        <li class="item"><a href="javascript:void(0);">苟</a></li>
                        <li class="item"><a href="javascript:void(0);">利</a></li>
                    </ul>
                    <div class="no-data">
                        <span>什么都没有哦~</span>
                    </div>
                </div>
            </div>

			<!-- FOOTER -->
			<div class="footer-space"></div>
			<div id="footer">
				<div class="devider-footer-left"></div>
				<div class="time">
					<p id="spanDate">
					<p id="clock">
				</div>
				<div class="copyright">Make with Love
					<span class="entypo-heart"></span>Collect from
				</div>
				<div class="devider-footer"></div>
			</div>
			<!-- / END OF FOOTER -->
            <!--</div>-->
        </div>
    </div>
    <!--  END OF PAPER WRAP -->


	<div style="text-align:center;">
		<p>All Right Reserved</p>
	</div>
</body>
    <script type="text/javascript" src="js/jquery.js"></script>
    <!-- MAIN EFFECT -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/load.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

    <script type="text/javascript" src="js/jhere-custom.js"></script>

    <script type="text/javascript" src="js/search.js"></script>
</html>
