.img-profile {
    margin:0 auto;
    text-align:left;
    width:13em;
    height:13em;
}
.profile {
    min-height: 355px;
    /*min-width: 750px;*/
    /*display: inline-block;*/
    margin-top: 40px;
    padding-left: 0;
    background: rgba(255, 255, 255, 0) !important;
}
.profile-edit {
    min-height: 355px;
    display: inline-block;
    margin: 40px 20px 0 20px;
    background: rgba(255, 255, 255, 0.5);
    width: 100%!important;
}
.ratings {
    margin: 0;
    text-align: right;
}
.ratings a {
    color: #F1C40F;
    font-size: 13px;
}
.ratings a:hover {
    color:#f39c12;
    text-decoration:none;
}
.divider {
    border-top:1px solid rgba(0, 0, 0, 0.1);
}
.emphasis {
    border-top: 4px solid transparent;
}
.emphasis:hover {
    border-top: 4px solid #1abc9c;
}
.emphasis h2 {
    margin-bottom:0;
}
span.tags {
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
}
.dropdown-menu {
/*    background-color: #34495e;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;*/
}
.dropdown-menu .divider {
    background:none;
}
.dropdown-menu>li>a {
    color:#f5f5f5;
}
.dropup .dropdown-menu {
    margin-bottom:10px;
}
.dropup .dropdown-menu:before {
    content:"";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


.preview{
    width: 620px;
}
.profile-name{
    /*background-color: rgba(255, 255, 255, 0.1) !important;*/
    border: 1px solid #EEEEEE !important;
    border-radius: 4px;
    padding-top: 10px;
    margin-bottom: 20px;
    width: 620px;

    box-sizing: content-box;
}
.social-profile i{
    font-style: normal;
    cursor: pointer;
}
.profile-content{
    border-bottom: 1px dashed #eee;
    width: 100%;
    padding: 5px 0;
}
..profile-content > span{
    width: 100px;
}
.profile-content > i {
    font-style: normal;
    padding: 0 30px;
}
.dl-horizontal-profile dt {
    clear: left;
    float: left;
    overflow: hidden;
    padding: 8px 0;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 160px;
}
.dl-horizontal-profile dd{
     padding: 8px 0;
  

}
.dl-horizontal-profile dd:before {
    content: ":";
    padding-right: 20px;
}


.satis-num{
    margin-left: 30px;
}

.list-group{
    min-width: 280px;
}

hr{
    margin-top: 0;
}
a:active,a:visited,a:link,a:hover{
    color: inherit;
}

.profile-name h4{
    padding: 0 10px 0 10px;
    font-family: "Microsoft YaHei UI";
    font-weight: bold;
}

.borrow-list .list-item{
    height: 140px;
    border-bottom: 1px solid rgb(238, 238, 238);
    margin-bottom: 10px;
}
.borrow-list .list-item:last-child{
    border-bottom: 0;
}

.borrow-list .list-item .pic,.borrow-list .list-item .message{
    float: left;
}
.borrow-list .list-item .pic{
    height: 120px;
    line-height: 120px;
}
.borrow-list .list-item .pic img{
    width: 82px;
    height: auto;
}

.borrow-list{
    min-width: 620px;
}

.borrow-list .list-item .message{
    margin-left: 10px;
    margin-top: 5px;
}

.borrow-list .list-item .message img{
    width: auto;
    height: 30px;
}

.borrow-list .list-item .message .line{
    height: 25px;
    font-size: 15px;
}
.borrow-list .list-item .message .line:last-child{
    height: 40px;
    padding-top: 5px;
    position: relative;
}

.borrow-list .list-item .message .bg{
    height: 20px;
    width: 400px;
    border: 1px solid #000;
    margin-top: 5px;
}
.borrow-list .list-item .message .col{
    height: 100%;
    width: 90%;
    border: 0;

    background: url("../img/bar.png") ;
    background-size: cover;
    /*filter:alpha(opacity=20);*/
    opacity:0.8;
}


.borrow-list .list-item .message .bg,.borrow-list .list-item .message .renew{
    float: left;
}
.borrow-list .list-item .message .renew img{
    filter: grayscale(1);
}
.borrow-list .list-item .message .renew .red{
    filter: grayscale(0);
}

.borrow-list .list-item .message .renew strong{
    cursor: pointer;
}

.borrow-list .list-item .message .renew strong:hover{
    color: #36baff;
}

.right-card{
    margin-left: 100px;
    width: calc(100% - 620px - 80px - 200px);
}

.profile-card{
    /*margin-right: 200px;*/
    min-width: 350px;
    width: 60%;
}

.mail-card{
    min-width: 450px;
    width: 100%;
}
.mail-card li{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(238,238,238);

    cursor: pointer;
}
.mail-card li:first-child{
    cursor: default;
}
.mail-card li:last-child{
    border-bottom: 0;
}

.list-more{
    margin-bottom: 10px;
    color: #3b8bfc;
    font-size: 15px;

    cursor: pointer;
}
.list-more img{
    width: 35%;
    margin-left: 4%;
    margin-right: 4%;
}
.list-more img:last-child{
    transform: rotateZ(180deg);
}

.borrow-list{
    padding: 0;
}

.paper-wrap div{
	background-color: rgba(255,255,255,0);
}